/* * {
  box-sizing: border-box;
  text-align: center;
}

.movies {
  width: 80%;
  margin: auto;
  text-align: center;
}

.movie {
  width: 20%;
  float: left;
}

figure {
  margin: 0%;
  box-shadow: 1px 1px 10px lightgray;
  padding: 10px;
}

figure img {
  width: 100%;
} */

/* CarRental */
.home h1 {
  font-weight: 900;
}
.banner {
  animation-name: shakeX;
  animation-duration: 10s;
  animation-iteration-count: infinite;
}

form p {
  color: red;
  padding: 0px 10px;
}

aside {
  padding: 50px 20px;
  border-right: 1px solid gray;
}

aside button {
  width: 100%;
  height: 50px;
  border: none;
  margin-bottom: 10px;
}
